* {
    box-sizing: border-box;
}

h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #0D192C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

article {
    width: 350px;
    height: 596px;
    background: #15263F;
    border-radius: 15px;
    color: #8BACD9;
    padding: 24px;

}

/* article img {
} */
.bgimg {
background-image: url(./images/image-equilibrium.jpg);
    width: 302px;
    height: 302px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-size: cover;
    transition: all 0.25s ease-in;
}
.bgcolor{
    width: 302px;
    height: 302px;
    background-color: rgba(0, 255, 247, 0.5);
    border-radius: 8px;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: none;

}
.bgimg:hover .bgcolor{
    display: block;
    
}
article h3 {
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;


}

article h3 a {
    transition: all 0.25s ease-in;
}

article h3 a:hover {
    color: #00FFF8;
}

article p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #8BACD9;


}

.price {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;
    padding-left: 18px;
    background-image: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: left center;

}

.time {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
    padding-left: 24px;
    background-image: url(./images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: left center;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #2E405A;
    margin-bottom: 16px;
}

.autorinfo {
    padding-left: 49px;
    background-image: url(./images/image-avatar.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 33px 33px;
    font-size: 16px;
    line-height: 33px;
    color: #8BACD9;


}

.autorinfo a {
    color: #FFFFFF;
    transition: all 0.25s ease-in;

}

.autorinfo a:hover {
    color: #00FFF8;
}